
<div class="container">

<%= form_for @sea do |f| %>
    <h5><%= f.label :name %></h5>
    <%= f.text_field :name, class: "form-control"  %>

    <h5><%= f.label :temperature %></h5>
   <%= f.number_field :temperature, class: "form-control"  %>

    <h5><%= f.label :bio %></h5>
    <%= f.text_area :bio, class: "form-control"  %>

    <h5><%= f.label :image_url %></h5>
    <%= f.text_field :image_url, class: "form-control"  %>

    <h5><%= f.label :mood %></h5>
    <%= f.text_field :mood, class: "form-control"  %>

    <h5><%= f.label :favorite_color %></h5>
    <%= f.text_field :favorite_color, class: "form-control"  %>

    <h5><%= f.label :scariest_creature %></h5>
    <%= f.text_field :scariest_creature, class: "form-control" %>

    <%= f.label :has_mermaids %>
    <%= f.check_box :has_mermaids %>

   <p><%= f.submit class: "form-control btn btn-info" %>
  

    <% end %>
  <div class="col-sm-11">
    <%= button_to "All Seas", seas_path, method: :get, class: "btn btn-info", form: {style: 'display:inline-block;'}%>
  </div>
   </div>